.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 22px;
    font-size: 12px;
    padding: 0 12px;
    text-align: center;
    background-color:$color-primary;
//     border: 2px solid $color-primary-dark;
    color: $color-primary-gray;
    border-radius: 2px;
}
